body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(fundoaguaviva.jpg);
    background-size: 1370px 1000px;
    background-repeat: no-repeat;
}


#visor {
    width: 90%;
    padding: 10px;
    font-size: 24px;
    margin: 0 auto; 
    margin-bottom: 10px;
    display: block; 
    color: black;
}


.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.numero,
.operacao {
    padding: 10px;
    font-size: 18px;
    background-color: #2d1695;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.numero:hover,
.operacao:hover {
    background-color: #0a072c;
}

